.product__item {
  width: 370px;
  display: flex;
  flex-direction: column;
}

.product__item__caption {
  height: 250px;
  width: 100%;
  background: #f6f7fc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.product__item__caption-title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    0.13deg,
    #f6f7fc 40.5%,
    rgba(246, 247, 252, 0) 68.12%
  );
  border-radius: 0 0 5px 5px;
  display: flex;
  align-items: end;
  justify-content: center;
  margin-bottom: 0;
}

.product__item__ticker {
  width: 100%;
  height: 20px;
}

.reviews-item {
  outline: none;
  width: 322px;
  height: 470px;
}

.certificate-slide {
  position: relative;
  transform: scale(0.9);
  background: #f6f7fc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 0px 17px #f6f7fc;
  transition: all 0.3s ease;
}

.certificate-slide.swiper-slide-active {
  transform: scale(1);
}

.reviews .swiper-button-prev {
  left: -4px;
}

.reviews .swiper-button-next {
  right: -4px;
}

.certificate-slide__title {
  position: absolute;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: -47px;
  left: 0;
  font-size: 16px;
}

.certificate-swiper {
  overflow-y: visible !important;
  padding: 0 25px !important;
}
